<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  {{ if ne .Title .Site.Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}
</title>

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }} {{
$style := resources.Get "css/rocinante.scss" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

{{- if isset .Site.Params "customcss" }} {{ range .Site.Params.customCSS }} {{
$customstyle := resources.Get . | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $customstyle.Permalink }}" />
{{ end }} {{- end -}} {{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}" />
{{ end }} {{ range .AlternativeOutputFormats -}} {{ printf `<link
  rel="%s"
  type="%s"
  href="%s"
  title="%s"
/>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
<script
  defer
  data-domain="slaynn.com"
  src="https://plausible.io/js/script.js"
></script>
<script
  defer
  id="fairlytics-id-ajcu6jd9k7ysd6"
  data-fairlyticskey="e2c6eabbb4fa31db03f435f7cbe491cd"
  src="https://app.fairlytics.tech/tag/tag.js"
></script>
